####################################################################
# WhiteSource Unified-Agent configuration file for Python
# GENERAL SCAN MODE: Package Managers only
####################################################################
 
checkPolicies=true
forceCheckAllDependencies=true
forceUpdate=true
printCliErrors=true
 
# Used only if 'forceUpdate' is set to true.
# If the flag is true, the Unified Agent exit code will be the result of the policy check.
# If the flag is false, the Unified Agent exit code will be the result of the scan.
forceUpdate.failBuildOnPolicyViolation=false

offline=false
ignoreSourceFiles=true
resolveAllDependencies=false
#wss.connectionTimeoutMinutes=60
# URL to your WhiteSource server.
#wss.url=https://saas.whitesourcesoftware.com/agent

python.resolveDependencies=true
python.ignoreSourceFiles=true
python.ignorePipInstallErrors=false
python.installVirtualEnv=false
python.resolveHierarchyTree=false
#python.requirementsFileIncludes=requirements.txt
#python.resolveSetupPyFiles=true
python.runPipenvPreStep=false
python.pipenvDevDependencies=false
python.IgnorePipenvInstallErrors=true
   
#projectName=
#projectVersion=
#productName=
#productVersion=
 
#########################################################################################
# Includes/Excludes Glob patterns - PLEASE USE ONLY ONE EXCLUDE LINE AND ONE INCLUDE LINE
#########################################################################################
includes=**/*.py **/*.txt
  
## Exclude file extensions or specific directories by adding **/*.<extension> or **<excluded_dir>/**
excludes=**/*sources.jar **/*javadoc.jar .tox/**
   
case.sensitive.glob=false
followSymbolicLinks=true
